g.DXF
  transform: scaleY(-1)
  fill: none
  stroke: navy
  stroke-width: 5px
  fill-rule: evenodd
  stroke-linecap: round
  stroke-linejoin: round

  path
    vector-effect: non-scaling-stroke

  .active
    stroke: red
    stroke-width: 10px
